.container {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 16px;
}
.cover {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
}
.cover__image {
  width: 100%;
  max-width: 984px;
  height: auto;
}
.cover__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  margin: 0 auto 32px;
  text-align: center;
}
.cover__subtitle {
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto;
}
@media (max-width: 768px) {
  .cover__title {
    font-size: 56px;
  }
  .cover__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  .cover__title {
    font-size: 40px;
  }
  .cover__subtitle {
    font-size: 16px;
  }
}
