.photo-grid {
  display: grid;
  width: 1184px;
  grid-template-columns: repeat(4, 284px);
  justify-content: center;
  margin: auto;
  gap: 16px;
}
.photo-grid__item {
  width: 284px;
  height: 213px;
}
@media (max-width: 1200px) {
  .photo-grid {
    grid-template-columns: repeat(2, 284px);
  }
}

@media (max-width: 600px) {
  .photo-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .photo-grid__item {
    width: 100%;
  }
}
